[submodule "themes/hugo-book"]
	path = themes/hugo-book
	url = https://github.com/alex-shpak/hugo-book
[submodule "themes/hugo-geekdoc"]
	path = themes/hugo-geekdoc
	url = https://github.com/thegeeklab/hugo-geekdoc.git
[submodule "themes/PaperMod"]
	path = themes/PaperMod
	url = https://github.com/adityatelange/hugo-PaperMod.git
